# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

Map Only
Release
db
greybox_tmp
incremental_db
output_files
simulation
system
*.bak
*.chg
*.lnk
*.log
*.opensdf
*.rpt
*.sdf
*.suo
*.vcxproj.filters
*.vcxproj.user
system.cmp
system.html
system.sopcinfo
