# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

Debug
Pre-debug
Pre-release
Release
db
greybox_tmp
incremental_db
output_files
simulation
system
*.bak
*.chg
*.lnk
*.log
*.opensdf
*.rpt
*.sdf
*.suo
*.vcxproj.user
source_files.inc
system.cmp
system.html
system.sopcinfo
